[alias]
	tree = log --oneline --decorate --graph
	vtree = log --decorate --graph
[color]
	ui = true
[core]
	autocrlf = false
	filemode = false
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	ff = only
